@import '~@/styles/theme.less';

.root {
  .flex();
  .avatar {
    cursor: pointer;
    &.collapsed {
      margin: 0 auto;
    }
  }
  .info {
    flex-direction: column;
    justify-content: center;
    margin-left: @space;
    font-size: 14px;
    cursor: pointer;
    .flex();
  }
}
