@import '~@/styles/theme.less';

.root {
  height: 100%;
}

.inner,
.user {
  height: 100%;
  padding: 10px 12px 12px;
  .flex-center();

  .info {
    .flex();

    flex: 1;
    flex-direction: column;
    padding-left: @space;
    line-height: 20px;
  }
}
